In [ ]:
from scipy.stats import ttest_ind
import pandas as pd

# Load the dataset
df = pd.read_csv('StudentsPerformance.csv')
# Separate data for male and female students

# Separate data for male students
male_scores = df[df['gender'] == 'male']['math score']
male_scores

Requirement already satisfied: scipy in c:\users\sudar\appdata\local\programs\python\python312\lib\site-packages (1.14.1)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\users\sudar\appdata\local\programs\python\python312\lib\site-packages (from scipy) (2.1.3)

3      47
4      76
7      40
8      64
10     58
       ..
985    57
987    81
990    86
994    63
996    62
Name: math score, Length: 482, dtype: int64

In [3]:
female_scores = df[df['gender'] == 'female']['math score']
female_scores

0      72
1      69
2      90
5      71
6      88
       ..
993    62
995    88
997    59
998    68
999    77
Name: math score, Length: 518, dtype: int64

In [6]:
t_statistic, p_value = ttest_ind(male_scores, female_scores)
# Print the results
print(f'T-Statistic: {t_statistic}')
print(f'P-Value: {p_value}\n\n')
alpha = 0.05
if p_value < alpha:
 print("There is a significant difference in math scores between male and female students.")
else:
 print("There is no significant difference in math scores between male and female students.")

T-Statistic: 5.383245869828983
P-Value: 9.120185549328822e-08


There is a significant difference in math scores between male and female students.

In [7]:
ethnicity_groups = df['ethnicity'].unique()
ethnicity_groups

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [8]:
ethnicity_data = {ethnicity: df[df['ethnicity'] == ethnicity]['math score'] for ethnicity in ethnicity_groups}
ethnicity_data

{'group B': 0      72
 2      90
 5      71
 6      88
 7      40
        ..
 969    75
 976    60
 980     8
 982    79
 991    65
 Name: math score, Length: 190, dtype: int64,
 'group C': 1      69
 4      76
 10     58
 15     69
 16     88
        ..
 979    91
 984    74
 986    40
 996    62
 997    59
 Name: math score, Length: 319, dtype: int64,
 'group A': 3      47
 13     78
 14     50
 25     73
 46     55
        ..
 974    54
 983    78
 985    57
 988    44
 994    63
 Name: math score, Length: 89, dtype: int64,
 'group D': 8      64
 11     40
 20     66
 22     44
 24     74
        ..
 989    67
 992    55
 993    62
 998    68
 999    77
 Name: math score, Length: 262, dtype: int64,
 'group E': 32      56
 34      97
 35      81
 44      50
 50      53
       ...
 962    100
 968     68
 987     81
 990     86
 995     88
 Name: math score, Length: 140, dtype: int64}

In [ ]:
f_statistic, p_value_anova = f_oneway(*ethnicity_data.values())
# Print the results
print(f'F-Statistic: {f_statistic}')
print(f'P-Value (ANOVA): {p_value_anova}')